body {
    background-color: aquamarine;
    color: #ffffff;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin: 0;
    background-color: rgb(233, 119, 119);
    font-weight: normal;
    text-transform: uppercase;
}

.rgbspan {
    font-size: 200%;
}

.mainBox {
    max-width: 600px;
    margin: 0px auto;
}